body{
  font-family: Helvetica;
}
a{
  text-decoration: none;
}
nav{
  width: 100%;
  height: 50px;
  background-color: black;
  position: fixed;
  top: 0;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

nav h1{
  font-weight: bold;
  color: white;
}

nav .link_upload{
  margin: 0px 40px 0px auto;
}
nav button{
  background-color: #09f;
  border: none;
  border-radius: 2px;
  padding: 7px;
  color: white;
  font-size: 11pt;

}

.content{
  margin-top: 60px;
}
.joke_list{
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.joke_detail{
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.joke_detail .joke{
  margin-bottom: 10px;
}

.joke{
  margin: 40px 0px;
}
.joke:first-of-type{
  margin-top: 20px;
}
.joke h2{
  font-weight: bold;
  font-size: 16pt;
  margin-bottom: 5px;
}
.joke_img{
  width: 100%;
}

.joke_actions{
  overflow: auto;
  display: flex;
  align-items: center;
}
.joke_actions form{
  float: left;
  margin-left: 5px;
}
.joke_actions form:first-of-type{
  margin-left: 0px;
}
.joke_actions p{
   margin-left: auto;
}

.joke_actions button{
  padding: 3px 5px;
  border-radius: 2px;
  border: 1px solid #494949;
}
.joke_actions button:hover{
  background-color: #DBDBDB;
  cursor: pointer;
}
button img{
  width: 15px;
}


.upload_form_wrapper{
  width: 400px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: auto;
  padding: 10px;
}

.upload_form_wrapper h2{
  font-weight: bold;
  font-size: 16pt;
  margin-bottom: 5px;
}

.upload_form_wrapper label{
  font-weight: bold;
  font-size: 10pt;
}
.upload_form_wrapper input[type="text"]{
  width: calc(100% - 5px);
  padding-right: 0px;
  margin-bottom: 10px;
}
.upload_form_wrapper input[type="submit"]{
  margin-top: 10px;
  border: none;
  background-color: black;
  border-radius: 2px;
  padding: 5px;
  color: white;
  font-size: 11pt;
}


.comments h3{
  font-size: 13pt;
  font-weight: bold;
}

.comments textarea{
  margin-top: 5px;
  width: calc(100% - 5px);
  height: 50px;
  font-size: 11pt;
  border: 1px solid #aaa;
  margin-bottom: 2px;
}
.comments input[type="text"]{
  width: 100%;
  max-width: 200px;
  font-size: 11pt;
  border: 1px solid #aaa;
}
.comments input[type="submit"]{
  margin-left: 2px;
  background-color: #09f;
  border: none;
  color: white;
  height: 21px;
  position: relative;
  top: -2px;
  float: right;
  font-size: 10pt;
}


.comment{
  margin: 15px 0px;
}

.subtitle{
  font-style: italic;
  font-weight: 500;
  font-size: 10pt;
  margin-top: 3px;
}
